@{
    ViewBag.Title = "Resume";
}

<section id="resume" class="section colored-wrapper">
    <div class="container">
        <h2>Résumé</h2>
        <div class="row borderClass">
            <div class="container resume-head">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 center-text">
                        <h2>Brandon Payne</h2>
                        <h5><a href="mailto:brandon@navicamls.net">brandon@navicamls.net</a></h5>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>

            <div class="container">
                <section class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>My Objective</h4>
                            </div>
                            <div class="col-xs-12">
                                My objective is to never stop learning and to always do the best work that I am capable of doing.
                            </div>


                            <div class="col-xs-12">
                                <h4>Education</h4>
                            </div>
                            <div class="col-xs-12">
                                <ul>
                                    <li>
                                        <strong>Associates Degree in IT</strong>, from ECPI College of Technology.
                                    </li>
                                    <li>
                                        <strong>MVC, C#, angularjs and Web API Course</strong>, from Coder Foundry.
                                        <p>
                                            This course was a fast-paced, interactive learning experience that employed a learn-by-doing theory of education.
                                            Upon completion I had performed over 600 hours of coding experience.
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-12">
                                <h4>Computer Skills</h4>
                            </div>
                            <div class="col-xs-6">
                                <label>Languages</label><br />
                                <ul>
                                    <li>HTML/HTML5</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>jQuery</li>
                                    <li>Classic ASP</li>
                                    <li>C#</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <label>Software</label><br />
                                <ul>
                                    <li>Visual Studio</li>
                                    <li>VisualSVN</li>
                                    <li>Photoshop</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Work Experience</h4>
                            </div>
                            <div class="col-xs-12">
                                <ul>
                                    <li><strong>The Corner: </strong>Cooked</li>
                                    <li><strong>Rockola Cafe: </strong>Cooked and waited</li>
                                    <li><strong>Applebees: </strong>Cooked and waited</li>
                                    <li>
                                        <p>
                                            <strong>Wikoff Color Corp (1989-2003): </strong>
                                            Started in the Greensboro, NC location at an entry level position.
                                            During my time there the Greensboro location was second in the company in profit margin.
                                            Within 4 years I worked my way up to being the manager of a small satellite branch in Raleigh.
                                            After 4 years the branch was closed to to loss of 2 large customers.
                                            I relocated to the Charlotte location for 9 months.
                                            I took a management position in the Greensboro location.
                                            During my time managing the Greensboro branch, our profit margin rankings went from 15th back up to 2nd in the company.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Systems Engineering Inc (2003-Present): </strong>
                                            After graduating from ECPI, I went to work for a Real Estate software company named Systems Engineering Inc.
                                            I initially was hired for outside sales and slowly migrated into the website department.
                                            I initially worked as customer service.
                                            Next I began building websites for customers.
                                            By 2006 I was the manager of the website department.
                                            During this time I continued to build my skill set and learn new languages.
                                            In 2011 I became the manager of our entire programming department.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>

</section>

