.modal-header {
    background-color: #2c3e50;
}

.modal-header h4, .modal-header h5, .close, .close:hover, .close:focus {
    color:#fff;
}

.modal-dialog.numbersGame {
    width:auto;
    max-width: 1000px;
}

.modal-dialog.numberChanger, .modal-dialog.palindromeChecker {
    width:auto;
    max-width: 990px;
}

.modal-dialog.findFact {
    width:auto;
    max-width: 1100px;
}

.numberChanger input {
    max-width:4em;
    margin-top:1%;
    margin-bottom:10%; 
}

.numbersGame input {
    max-width: 97.5%;
    margin: 1% .5% 10% .5%;
}

.findFact input {
    max-width:5em;
    margin-top:10%;
    margin-bottom:10%; 
}

#palindromeChecker input {
    max-width:6.5em;
    margin-top:10%;
    margin-bottom:10%; 
}

.numbersGame .col-xs-2 {
    width: 20%;
}

.inputSpan {
    margin:0 auto;
}

.inputSpan div.col-xs-2 {
    padding:0;
    text-align: center;
}


.numbersGame label, .numberChanger label {
    text-align:right;
    padding:.75% 1% 0;
    color: #2c3e50;    
}

.numbersGame span, #displayMagic {
    color: #2c3e50;
}

#displayFactorial, #palindromeResults {
    color: #2c3e50;
    font-weight:bold;
}

.numbersGame span.col-xs-7 {
    color: #2c3e50;
    padding-right:1%;
}

.spacer {
    height:.75em;
}

.rowSpacer {
    margin:.25em 0;
}

#displayMagic span {
    padding-right:.2em;
}

.section {
    padding: 24px 0;
}

#resume li {
    line-height:1.75;
}

#resume li p {
    line-height:initial;
}

.borderClass {
    border:1px solid;
}

.center-text {
    text-align:center;
}

.resume-head {
    background-color: #2c3e50;
    color: #ecf0f1;
    margin-right:-1px;
    margin-left:-1px;
}

.resume-head h2, .resume-head h5 a {
    color: #ecf0f1;
}

.javascriptExamples {
    background-color:#000;
}

.javascriptExamples h4 {
    color:#fff;
}

.photoshopExamples {
    background-color: #5F9EA0;
}

.photoshopExamples h4, .photoshopExamples h5,.photoshopExamples p {
    color: #fff;
}

.photoshopExamples .subpage-title:before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
}

#portfolio-4 h4 {
    margin-left: 1em;
}

.portfolio-item .portfolio-content {
    padding: 10px 20px;
}